#p1{
    color: rgb(234, 230, 230);
}
#p2{
    color: rgb(163, 76, 76);
}
#p3{
    color: rgb(192, 124, 124);
}
#p4{
    color: rgb(27, 58, 27);
}
#p5{
    color: rgb(57, 57, 115);
}
#p6{
    color: rgb(76, 76, 31);
}
#p7{
    color: rgb(23, 62, 62);
}
#p8{
    color: rgb(134, 77, 134);
}