p{
    color: brown;
    font-weight: 500;
    font-size:90px;
}

#fqvili{
    color: rgb(180, 133, 74);
    font-weight: 1000;
    font-size: 45px;
}

#sousi{
    color: red;
    font-weight: 400;
    font-size: 45px;
}


#yveli{
    color: yellow;
    font-weight: 1000;
    font-size: 45px;
}

#top{
    color: rgb(11, 244, 11);
    font-weight: 300;
    font-size: 45px;
}